body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/*---------------------
    Header
-----------------------*/
#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
}

.header-color {
    background-color: black;
}


/* Header Top */
.header-top {
    background-color: #FF6712;
    height: 40px;
    width: 100%;
}

.header-top p {
	color: black;
    height: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-align: center;
	padding-top: 5px;
}



/*---------------------
    Logo
-----------------------*/
#header-logo {
    position: relative;
    left: 10px;
}

#header-logo a img {
    width: 50px;
    height: 50px;
    margin: 25px;
}



/*---------------------
    NavBar
-----------------------*/
#navbarNavDropdown {
    display: flex;
    justify-content: center;
}

#nav-list li a {
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 35px;
}

#nav-list li a:hover {
    transition: all 0.2s;
    color: #FF6712
}

.show {
    background-color: #000000ef;
    border-radius: 20px;
    z-index: 2;
}

#nav-list {
    display: flex;
    align-items: center;
}

#nav-list li ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 0px;
}

#nav-list li ul li a:hover {
    color: #FF6712
}


header .container-header {
    height: 100px;
    display: flex;
    justify-content: center;
}

#navbar-n {
    height: 100px;
}

#navbar-n .container-fluid .navbar-toggler span {
    color: white;
}

/*---------------------
    Carousel
-----------------------*/
#carousel-b {
    margin-bottom: 150px;
    z-index: -1;
}


/*---------------------
   Cards
-----------------------*/
#card-1, #card-2, #card-3 {
    border: 20px solid white;
    border-radius: 20px;
    transition: all 0.4s;
    box-shadow: 1px 11px 21px -1px #00000021;
    margin-bottom: 100px;
}

#card-1 img, #card-2 img, #card-3 img {
    border-radius: 20px;
}

#card-1:hover {
    box-shadow: 1px 11px 21px -1px #0000008f;
    transform: translateY(-3%);
}

#card-2:hover {
    box-shadow: 1px 11px 21px -1px #0000008f;
    transform: translateY(-3%);
}

#card-3:hover {
    box-shadow: 1px 11px 21px -1px #0000008f;
    transform: translateY(-3%);
}

.align-i {
    display: flex;
    justify-content: center;
}


/*--------------------
   Brands
-----------------------*/
#brands {
    margin: auto;
    height: 100px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 20px solid rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.4s;
    box-shadow: 0px 10px 21px 10px #00000021;
    margin-bottom: 100px;
}

#brands:hover {
    box-shadow: 0px 5px 21px 5px #00000050;
}


/*--------------------
   Media Query
-----------------------*/

