/*-------------Home-------------*/
@import "components/01-header";
@import "components/02-carousel";
@import "components/03-main";
@import "components/04-footer";
/*-----------------------------*/


/*-------------Base-------------*/
@import "base/colors";
@import "base/fonts";
@import "base/maps";
@import "base/variables";
/*-----------------------------*/

/*-------------Base-------------*/
@import "components-secondary/shop";
/*-----------------------------*/



/*------------Global------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

/*-----------------------------*/























#notfound {
  img {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

#bg-pag {
  margin-top: 50px;
  margin-bottom: 100px;
  ul {
    li {
      a {
        color: black;
      }
    }
  }
}


