// Filter aside
#aside-f {
    position: relative;
}

#as-fi-co {
    label {
        
        input {
            display: none;
            
    }
        span {
            padding: 10px 20px ;
            color: rgb(255, 255, 255);
            cursor: pointer;
            user-select: none;
            &:hover {
                box-shadow: 10px 10px 5px 0px rgba(247, 31, 31, 0.75);
        }
        }
        
        
    }
    .bg-btn-0 {
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(128, 128, 128);
        span {
            color: black;
        }
    }
    .bg-btn-1 {
        background-color: rgb(0, 0, 0);
    }
    .bg-btn-2 {
        background-color: rgb(0, 0, 255);
    }
    .bg-btn-3 {
        background-color: rgb(128, 128, 128);
    }
    .bg-btn-4 {
        background-color: rgb(255, 0, 0);
    }
    .bg-btn-5 {
        background-color: rgb(255, 192, 203);
    }
    .bg-btn-6 {
        background-color: rgb(255, 166, 0);
    }
    .bg-btn-7 {
        background-color: rgb(255, 255, 0);
        span {
            color: black;
        }
    }
    .bg-btn-8 {
        background-color: rgb(0, 245, 0);
    }
    .bg-btn-9 {
        background-color: rgb(206, 0, 206);
    }
}